body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    background-image: url(pattern4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; /* or whatever you wish */
    background-attachment: fixed;
    position: relative;
  }

  header {
    background: #7a644e;
    color: #fff;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    justify-content: flex-end;
  }

  nav img {
    width: 50px; /* Adjust the size of the logo */
    border-radius: 25px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }

  .account-option {
    font-size: 1.2em;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .account-option:not(:last-child) {
    margin-right: 20px; /* Adjust the space between items */
  }


  .account-option:hover {
    color: #e65c00;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
  }

  section {
    padding: 50px;
    text-align: left; /* Align text content to the left */
  }
  
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    nav a {
      margin: 2px 0;
      text-align: center;
      display: none;
    }

    nav a.show {
      display: block;
      padding-top: 15px;
    }

    .menu-icon {
      display: block;
      margin-top: 12.5%;
    }
    .conatiner1{
        flex-direction: column; 
        align-items: stretch; 
    }
  }

  @media (min-width: 769px) {
    nav {
      justify-content: flex-end;
    }

    nav a {
      margin-right: 0;
    }
    .conatiner1{
      display: flex;
      justify-content: flex-end;
    }
  }
  .container1{
    margin: 2% 10% 20% 10%;
    display: flex;
      flex-wrap: wrap; 
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 20px;
  }
  .card {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    background-color: #ffffff;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 30px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card img{
    border-radius: 10px;
  }

  footer {
    background: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
  }